button {
  align-items: center;
  background: var(--primary-color);
  border: 0;
  border-radius: 8px;
  box-shadow: 
    -10px -10px 30px 0 var(--secondary-shadow-color), 
    10px 10px 30px 0 var(--primary-shadow-color);
  box-sizing: border-box;
  color: var(--primary-text-color);
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

button:hover {
  background: var(--primary-hover-color);
  box-shadow: 
    -15px -15px 30px 0 var(--secondary-shadow-color), 
    15px 15px 30px 0 var(--primary-shadow-color);
}

@media (min-width: 768px) {
  button {
    padding: 24px;
  }
}