.home-root {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-panel {
    width: 80%;

    background-color: var(--surface-color);
    padding: 15px;
}

.home-title-container {
    display: flex;
    justify-content: center;
}