:root {
    --background-color: #F4F6FA;
    --surface-color: #FFFFFF;
    --primary-color: #5C6A8D;
    --secondary-color: #6B7C99;
    --accent-color: #8B5CF6;
    --text-color: #1F2937;

    --text-color-contrast: #E5E7F0;

    color: var(--text-color);
}

[data-theme="Dark"] {
    --background-color: #0F1220;
    --surface-color: #171A2B;
    --primary-color: #4C5A7A;
    --secondary-color: #5B5473;
    --accent-color: #8B5CF6;
    --text-color: #E5E7F0;

    --text-color-contrast: #1F2937;

    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    margin: 0px;
}