:root {
    --primary-color: #f5f5fa;
    --primary-shadow-color: #1d0dca17;
    --primary-text-color: #2a1f62;
    --primary-hover-color: #f8f8ff;
    --secondary-shadow-color: #fff;
}

[data-theme="Dark"] {
    --primary-color: rgb(37, 34, 34);
    --primary-shadow-color: #0f095617;
    --primary-text-color: white;
    --primary-hover-color: rgb(40, 40, 40);
    --secondary-shadow-color: #282828;
}

body {
    background-color: var(--primary-color);
}